<!DOCTYPE html>
<html>
<head>
    <title title="store">登录-奇斯威克-Jisuowei.com</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0">
    <link href="./static/img/favicon.ico" rel="shortcut icon">
    <link rel="stylesheet" href="../static/css/element.min.css">
    <link rel="stylesheet" type="text/css" href="./static/css/jisuowei.css">
    <link rel="stylesheet" type="text/css" href="../static/css/font-awesome.min.css">
<style>

html,
body {
    background: #060e1b;
    overflow: hidden;
}

canvas {
    position: absolute;
    z-index: -1;
}

.form-center {
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 4px;
    margin-top: -180px;
    margin-left: -180px;
    width: 360px;
    height: 360px;
    padding: 30px;
    background: #fff;
}

.form-center .form-logo {
    display: block;
    margin: 0 auto 20px auto;
    width: 30%;
}

</style>
</head>
<body>

<canvas id="canvas"></canvas>

<div id="jisuowei">


    <div class="form-center">

        <img class="form-logo" src="static/img/jisuowei_dark.svg">


        <el-alert
                :closable="false"
                show-icon
                center
                title="尚未开放"
                type="warning">
        </el-alert>


        <el-tabs v-model="activeName">
            <el-tab-pane label="登录" name="login">

                <el-form size="small">

                    <el-form-item>
                        <el-input placeholder="请输入帐号" v-model="login.account" maxlength="16">
                            <template slot="prepend">帐号</template>
                        </el-input>
                    </el-form-item>

                    <el-form-item>
                        <el-input placeholder="请输入密码" v-model="login.password" maxlength="16" type="password">
                            <template slot="prepend">密码</template>
                        </el-input>
                    </el-form-item>

                </el-form>

                <div ct>
                    <el-button @click="back" type="primary" disabled>登录</el-button>
                    <el-button @click="back">返回首页</el-button>
                </div>

            </el-tab-pane>
            <el-tab-pane label="注册" name="register" disabled>

                <el-form size="small">

                    <el-form-item>
                        <el-input placeholder="请输入帐号" v-model="register.account" maxlength="16">
                            <template slot="prepend">帐号</template>
                        </el-input>
                    </el-form-item>

                    <el-form-item>
                        <el-input placeholder="请输入密码" v-model="register.password" maxlength="16" type="password">
                            <template slot="prepend">密码</template>
                        </el-input>
                    </el-form-item>

                    <el-form-item>
                        <el-input placeholder="请确认密码" v-model="register._password" maxlength="16" type="password">
                            <template slot="prepend">密码</template>
                        </el-input>
                    </el-form-item>

                </el-form>

                <div ct>
                    <el-button @click="back" type="primary">注册</el-button>
                    <el-button @click="back">返回</el-button>
                </div>

            </el-tab-pane>
        </el-tabs>

    </div>


</div>
</body>
<script src="../static/js/jquery.2.1.1.min.js"></script>
<script src="./static/js/jit.js"></script>
<script src="./static/js/jisuowei.js"></script>
<script src="../static/js/vue.min.js"></script>
<script src="../static/js/element.min.js"></script>
<script>
(function(){

    var vm = new Vue({

        el: '#jisuowei',

        data: {

            activeName: 'login',

            login: {
                account: '',
                password: '',
            },

            register: {
                account: '',
                password: '',
                _password: '',
            },

        },

        created: function() {

            this.initBackgrounod();

        },

        methods: {


            initBackgrounod: function() {

                "use strict";

                var canvas = document.getElementById('canvas'),
                    ctx = canvas.getContext('2d'),
                    w = canvas.width = window.innerWidth,
                    h = canvas.height = window.innerHeight,

                    hue = 217,
                    stars = [],
                    count = 0,
                    maxStars = 1200;

                var canvas2 = document.createElement('canvas'),
                    ctx2 = canvas2.getContext('2d');
                canvas2.width = 100;
                canvas2.height = 100;
                var half = canvas2.width / 2,
                    gradient2 = ctx2.createRadialGradient(half, half, 0, half, half, half);
                gradient2.addColorStop(0.025, '#fff');
                gradient2.addColorStop(0.1, 'hsl(' + hue + ', 61%, 33%)');
                gradient2.addColorStop(0.25, 'hsl(' + hue + ', 64%, 6%)');
                gradient2.addColorStop(1, 'transparent');

                ctx2.fillStyle = gradient2;
                ctx2.beginPath();
                ctx2.arc(half, half, half, 0, Math.PI * 2);
                ctx2.fill();

                // End cache

                function random(min, max) {
                    if (arguments.length < 2) {
                        max = min;
                        min = 0;
                    }

                    if (min > max) {
                        var hold = max;
                        max = min;
                        min = hold;
                    }

                    return Math.floor(Math.random() * (max - min + 1)) + min;
                }

                function maxOrbit(x, y) {
                    var max = Math.max(x, y),
                        diameter = Math.round(Math.sqrt(max * max + max * max));
                    return diameter / 2;
                }

                var Star = function() {

                    this.orbitRadius = random(maxOrbit(w, h));
                    this.radius = random(60, this.orbitRadius) / 12;
                    this.orbitX = w / 2;
                    this.orbitY = h / 2;
                    this.timePassed = random(0, maxStars);
                    this.speed = random(this.orbitRadius) / 900000;
                    this.alpha = random(2, 10) / 10;

                    count++;
                    stars[count] = this;
                }

                Star.prototype.draw = function() {
                    var x = Math.sin(this.timePassed) * this.orbitRadius + this.orbitX,
                        y = Math.cos(this.timePassed) * this.orbitRadius + this.orbitY,
                        twinkle = random(10);

                    if (twinkle === 1 && this.alpha > 0) {
                        this.alpha -= 0.05;
                    } else if (twinkle === 2 && this.alpha < 1) {
                        this.alpha += 0.05;
                    }

                    ctx.globalAlpha = this.alpha;
                    ctx.drawImage(canvas2, x - this.radius / 2, y - this.radius / 2, this.radius, this.radius);
                    this.timePassed += this.speed;
                }

                for (var i = 0; i < maxStars; i++) {
                    new Star();
                }

                function animation() {
                    ctx.globalCompositeOperation = 'source-over';
                    ctx.globalAlpha = 0.8;
                    ctx.fillStyle = 'hsla(' + hue + ', 64%, 6%, 1)';
                    ctx.fillRect(0, 0, w, h)

                    ctx.globalCompositeOperation = 'lighter';
                    for (var i = 1, l = stars.length; i < l; i++) {
                        stars[i].draw();
                    };

                    window.requestAnimationFrame(animation);
                }

                animation();

            },  // initBackground


            back: function() {
                history.back()
            },  // back


        },
    });


}());
</script>
</html>